<div class="page-body">
  <div class="container-fluid">
    <div class="position-fixed bottom-0 end-0 p-3 toast-index toast-rtl"><%- include('message') %></div>
    <div class="page-title">
      <div class="row">
        <div class="col-6">
          <h3>Barcode QR</h3>
        </div>
        <div class="col-6">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="/dashboard">
                <svg class="stroke-icon">
                  <use href="/assets/dashboard/svg/icon-sprite.svg#stroke-home"></use></svg
              ></a>
            </li>
            <li class="breadcrumb-item">Barcode QR</li>
            <li class="breadcrumb-item active">Create Barcode</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!-- Container-fluid starts-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <h4>Barcode QR Generator</h4>
          </div>
          <div class="card-body">
            <div class="card-wrapper border rounded-3">
              <form class="row g-3" action="/generate-qrcode" method="post">
                <div class="col-md-12">
                  <label class="form-label" for="email">Email</label>
                  <input class="form-control" id="email" name="email" type="email" placeholder="Enter Your Email" required />
                </div>
                <div class="col-md-12">
                  <label class="form-label" for="name">Fullname</label>
                  <input class="form-control" id="name" name="name" type="text" placeholder="Enter Your Name" required />
                </div>
                <div class="col-md-12">
                  <label class="form-label" for="organization">Organization</label>
                  <input class="form-control" id="organization" name="organization" type="text" placeholder="Enter Your Organization" required />
                </div>
                <div class="col-12">
                  <div class="form-check checkbox-checked">
                    <input class="form-check-input" id="gridCheck1" type="checkbox" required />
                    <label class="form-check-label" for="gridCheck1">Check me out</label>
                  </div>
                </div>
                <div class="col-12">
                  <button class="btn btn-primary" type="submit">Generate</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card social-profile">
          <div class="card-header">
            <h4>Scan Here</h4>
          </div>
          <div class="card-body">
            <div class="social-details">
              <h5 class="mb-1"><a href="#"><%= name %></a></h5>
              <span class="f-light mb-1"><%= email %></span><br />
              <span class="f-light mb-2"><%= organization %></span>
              <div class="card-wrapper">
                <div class="border rounded-3" style="display: inline-block">
                  <img src="<%= qrCodeDataURL ? qrCodeDataURL : 'assets/dashboard/images/dashboard/scan-qr.webp' %>" style="width: 164px; height: auto" alt="QR Code" />
                </div>
              </div>
              <div class="mt-4">
                <% if (qrCodeDataURL) { %>
                <a href="<%= qrCodeDataURL %>" download="QRCode-<%= name %>.png" class="btn btn-primary">Download</a>
                <% } else { %>
                <button class="btn btn-primary" disabled>Download</button>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Container-fluid Ends-->
  </div>
</div>
