<div class="page-body">
  <div class="container-fluid">
    <div class="page-title">
      <div class="row">
        <div class="col-6">
          <h3>Detail Blog</h3>
        </div>
        <div class="col-6">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="/dashboard">
                <svg class="stroke-icon">
                  <use href="/assets/dashboard/svg/icon-sprite.svg#stroke-home"></use>
                </svg>
              </a>
            </li>
            <li class="breadcrumb-item">Application</li>
            <li class="breadcrumb-item active">My Blog</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!-- Mulai Container-fluid-->
  <div class="container-fluid">
    <div class="row">
      <% blogs.forEach(blog => { %>
      <div class="col-xl-6 set-col-12 box-col-12">
        <div class="card">
          <div class="blog-box blog-shadow">
            <img class="img-fluid" src="/assets/dashboard/blog/<%= blog.image %>" alt="" />
            <div class="blog-details">
              <p><%= blog.date %></p>
              <a href="/blog-single/<%= blog.slug %>">
                <h4><%= blog.title %></h4>
              </a>
              <ul class="blog-social">
                <li><i class="icofont icofont-user"></i><%= blog.author %></li>
                <li><i class="icofont icofont-thumbs-up"></i><%= blog.likes %> Likes</li>
                <li><i class="icofont icofont-ui-chat"></i><%= blog.comments %> Comments</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
  <!-- Selesai Container-fluid -->
</div>
