<div class="page-body">
  <div class="container-fluid">
    <div class="page-title">
      <div class="row">
        <div class="col-6">
          <h3>Blog Single</h3>
        </div>
        <div class="col-6">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="/dashboard">
                <svg class="stroke-icon">
                  <use href="/assets/dashboard/svg/icon-sprite.svg#stroke-home"></use>
                </svg>
              </a>
            </li>
            <li class="breadcrumb-item">Apps</li>
            <li class="breadcrumb-item active">Blog Single</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!-- Container-fluid starts-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="blog-single">
          <div class="blog-box blog-details">
            <img class="img-fluid w-100" src="/assets/dashboard/blog/<%= blog.image %>" alt="blog-main" />
            <div class="blog-details">
              <ul class="blog-social">
                <li><%= blog.date %></li>
                <li><i class="icofont icofont-user"></i><%= blog.author %></li>
                <li><i class="icofont icofont-thumbs-up"></i><%= blog.likes %><span>Likeas</span></li>
                <li><i class="icofont icofont-ui-chat"></i><%= blog.comments %> Comments</li>
              </ul>
              <h4><%- blog.title %></h4>
              <div class="single-blog-content-top"><%- blog.content %></div>
            </div>
          </div>
          <section class="comment-box">
            <h4>Comment</h4>
            <!-- ... bagian komentar blog ... -->
          </section>
        </div>
      </div>
    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>
