<div class="page-body">
  <div class="container-fluid">
    <div class="page-title">
      <div class="row">
        <div class="col-6">
          <h3>Edit Profile</h3>
        </div>
        <div class="col-6">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="/dashboard">
                <svg class="stroke-icon">
                  <use href="/assets/dashboard/svg/icon-sprite.svg#stroke-home"></use></svg
              ></a>
            </li>
            <li class="breadcrumb-item">Apps</li>
            <li class="breadcrumb-item active">Edit Profile</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!-- Container-fluid starts-->
  <div class="container-fluid">
    <div class="edit-profile">
      <form action="/edit-profile" method="post" enctype="multipart/form-data" novalidate>
        <div class="row">
          <div class="col-xl-4">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title mb-0">My Profile</h4>
                <div class="card-options">
                  <a class="card-options-collapse" href="#" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a><a class="card-options-remove" href="#" data-bs-toggle="card-remove"><i class="fe fe-x"></i></a>
                </div>
              </div>
              <div class="card-body">
                <div class="row mb-2">
                  <div class="profile-title">
                    <div class="media">
                      <img class="img-100 rounded-circle" src="https://gudrtdnruivalvgpfens.supabase.co/storage/v1/object/public/taufiqproject/user/<%= user.image %>" alt="<%= user.image %>" id="imagePreview" loading="lazy" />
                      <div class="media-body">
                        <h5 class="mb-1"><%= user.name %></h5>
                        <p><%= user.role %></p>
                      </div>
                    </div>
                    <div class="input-group">
                      <input class="form-control" id="inputGroupFile03" type="file" name="image" value="<%= user.image %>" aria-describedby="inputGroupFileAddon03" aria-label="Upload" onchange="previewImage(this)" />
                      <button type="button" class="btn btn-danger btn-sm" onclick="clearImageInput()">Clear</button>
                    </div>
                  </div>
                </div>
                <script>
                  const originalImageSrc = 'https://gudrtdnruivalvgpfens.supabase.co/storage/v1/object/public/taufiqproject/user/<%= user.image %>';

                  function previewImage(input) {
                    const imagePreview = document.getElementById('imagePreview');
                    const clearButton = document.querySelector('.btn-danger');

                    if (input.files && input.files[0]) {
                      const reader = new FileReader();
                      reader.onload = function (e) {
                        imagePreview.src = e.target.result;
                        clearButton.style.display = 'block';
                      };
                      reader.readAsDataURL(input.files[0]);
                    } else {
                      imagePreview.src = originalImageSrc;
                      clearButton.style.display = 'none';
                    }
                  }

                  function clearImageInput() {
                    const imagePreview = document.getElementById('imagePreview');
                    const inputImage = document.getElementById('inputGroupFile03');
                    const clearButton = document.querySelector('.btn-danger');

                    imagePreview.src = originalImageSrc;
                    inputImage.value = '';
                    clearButton.style.display = 'none';
                  }
                </script>
                <div class="mb-3">
                  <h6 class="form-label">Bio</h6>
                  <textarea class="form-control" name="bio" rows="5" id="bioTextarea"><%= user.bio %></textarea>
                  <div id="wordCount">Remaining characters: 2000</div>
                </div>
                <div class="mb-3">
                  <label class="form-label">Email Address</label>
                  <input class="form-control" name="email" placeholder="<%= user.email %>" readonly />
                </div>
                <div class="mb-3">
                  <label class="form-label">Website</label>
                  <input class="form-control" name="website" value="<%= user.website %>" />
                </div>
                <div class="mb-3">
                  <label class="form-label">Instagram</label>
                  <input class="form-control" name="instagram" value="<%= user.instagram %>" />
                </div>
                <div class="mb-3">
                  <label class="form-label">Twitter</label>
                  <input class="form-control" name="twitter" value="<%= user.twitter %>" />
                </div>
                <div class="mb-3">
                  <label class="form-label">Facebook</label>
                  <input class="form-control" name="facebook" value="<%= user.facebook %>" />
                </div>
                <div class="mb-3">
                  <label class="form-label">LinkedIn</label>
                  <input class="form-control" name="linkedin" value="<%= user.linkedin %>" />
                </div>
                <div class="form-footer"></div>
              </div>
            </div>
          </div>
          <div class="col-xl-8">
            <div class="card-header">
              <h4 class="card-title mb-0">Edit Profile</h4>
              <div class="card-options">
                <a class="card-options-collapse" href="#" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a><a class="card-options-remove" href="#" data-bs-toggle="card-remove"><i class="fe fe-x"></i></a>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-5">
                  <div class="mb-3">
                    <label class="form-label">Status</label>
                    <input class="form-control" name="status" type="text" value="<%= user.status %>" readonly />
                  </div>
                </div>
                <div class="col-sm-6 col-md-3">
                  <div class="mb-3">
                    <label class="form-label">Username</label>
                    <input class="form-control" type="text" name="username" value="<%= user.username %>" />
                  </div>
                </div>
                <div class="col-sm-6 col-md-4">
                  <div class="mb-3">
                    <label class="form-label">Email address</label>
                    <input class="form-control" type="email" value="<%= user.email %>" readonly />
                  </div>
                </div>
                <div class="col-sm-6 col-md-6">
                  <div class="mb-3">
                    <label class="form-label">Full Name</label>
                    <input class="form-control" type="name" name="name" value="<%= user.name %>" />
                  </div>
                </div>
                <div class="col-sm-6 col-md-6">
                  <div class="mb-3">
                    <label class="form-label">University</label>
                    <input class="form-control" type="text" name="university" value="<%= user.university %>" />
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="mb-3">
                    <label class="form-label">Address</label>
                    <input class="form-control" type="text" name="address" value="<%= user.address %>" />
                  </div>
                </div>
                <div class="col-sm-6 col-md-4">
                  <div class="mb-3">
                    <label class="form-label">Contact</label>
                    <input class="form-control" type="number" name="contact" value="<%= user.contact %>" />
                  </div>
                </div>
                <div class="col-sm-6 col-md-3">
                  <div class="mb-3">
                    <label class="form-label">Date of Birth</label>
                    <input class="form-control" type="date" name="bod" value="<%= user.bod %>" placeholder="<%= user.bod %>" />
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="mb-3">
                    <label class="form-label">Hobby</label>
                    <input class="form-control" type="text" name="hobby" value="<%= user.hobby %>" />
                  </div>
                </div>
                <div class="col-md-12">
                  <div>
                    <label class="form-label">About Me</label>
                    <textarea class="form-control" rows="4" name="aboutme"><%= user.aboutme %></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer text-end">
              <button class="btn btn-primary" type="submit">Update Profile</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>
