<!-- Page Header Start-->
<div class="page-header">
  <div class="header-wrapper row m-0">
    <form class="form-inline search-full col" action="#" method="get">
      <div class="form-group w-100">
        <div class="Typeahead Typeahead--twitterUsers">
          <div class="u-posRelative">
            <input class="demo-input Typeahead-input form-control-plaintext w-100" type="text" placeholder="Search Taufiq Project .." name="q" title="" autofocus />
            <div class="spinner-border Typeahead-spinner" role="status"><span class="sr-only">Loading...</span></div>
            <i class="close-search" data-feather="x"></i>
          </div>
          <div class="Typeahead-menu"></div>
        </div>
      </div>
    </form>
    <div class="header-logo-wrapper col-auto p-0">
      <div class="logo-wrapper">
        <a href="/dashboard"><img class="img-fluid" src="/assets/dashboard/images/logo/logo.png" alt="" /></a>
      </div>
      <div class="toggle-sidebar"><i class="status_toggle middle sidebar-toggle" data-feather="align-center"></i></div>
    </div>
    <div class="left-header col-xxl-5 col-xl-6 col-lg-5 col-md-4 col-sm-3 p-0">
      <div class="notification-slider">
        <div class="d-flex h-100">
          <img src="/assets/dashboard/images/giftools.gif" alt="gif" />
          <h6 class="mb-0 f-w-400"><span class="font-primary">Don't Miss Out! </span><span class="f-light">Taufiq Project has been release.</span></h6>
          <i class="icon-arrow-top-right f-light"></i>
        </div>
        <div class="d-flex h-100">
          <img src="/assets/dashboard/images/giftools.gif" alt="gif" />
          <h6 class="mb-0 f-w-400"><span class="f-light">Make a something you love is now on type! </span></h6>
          <a class="ms-1" href="/add-post" target="_blank">Publish your articles now !</a>
        </div>
      </div>
    </div>
    <div class="nav-right col-xxl-7 col-xl-6 col-md-7 col-8 pull-right right-header p-0 ms-auto">
      <ul class="nav-menus">
        <li class="language-nav">
          <div class="translate_wrapper">
            <div class="current_lang">
              <div class="lang">
                <i class="flag-icon flag-icon-us"></i>
              </div>
            </div>
            <div class="more_lang">
              <a href="/" class="lang selected" id="lang-us">
                <i class="flag-icon flag-icon-us"></i>
                <span class="lang-txt">English (US)</span>
              </a>
              <a href="/id" class="lang" id="lang-id">
                <i class="flag-icon flag-icon-id"></i>
                <span class="lang-txt">Indonesia (ID)</span>
              </a>
            </div>
          </div>
        </li>
        <li>
          <span class="header-search">
            <svg>
              <use href="/assets/dashboard/svg/icon-sprite.svg#search"></use></svg
          ></span>
        </li>
        <li>
          <div class="mode">
            <svg>
              <use href="/assets/dashboard/svg/icon-sprite.svg#moon"></use>
            </svg>
          </div>
        </li>
        <li class="onhover-dropdown">
          <div class="notification-box" onclick="showNotifications()">
            <svg>
              <use href="/assets/dashboard/svg/icon-sprite.svg#notification"></use>
            </svg>
            <span class="badge rounded-pill badge-secondary"></span>
          </div>
          <div class="onhover-show-div notification-dropdown">
            <h6 class="f-18 mb-0 dropdown-title">Notifications</h6>
            <ul id="notification-list">
              <li>
                <p>No Notification Available</p>
              </li>
            </ul>
          </div>
          <script>
            const sendNotification = require('../routes/notification.js');

            function showNotifications() {
              const title = 'New Notification Title';
              const message = 'This is the notification message.';

              sendNotification(title, message);

              const notificationList = document.getElementById('notification-list');
              const newNotification = document.createElement('li');
              newNotification.innerHTML = `<p>${title}: ${message}</p>`;
              notificationList.appendChild(newNotification);

              const notificationBadge = document.getElementById('notification-badge');
              const notificationCount = notificationList.children.length;

              if (notificationCount > 0) {
                notificationBadge.innerText = notificationCount;
              } else {
                notificationBadge.innerText = '';
              }
            }
          </script>
        </li>
        <li class="maximize">
          <a class="text-dark" href="#!" onclick="javascript:toggleFullScreen()"><i data-feather="maximize"></i></a>
        </li>
        <li class="profile-nav onhover-dropdown pe-0 py-0">
          <div class="media profile-media">
            <% if (user.image.includes('http')) { %>
            <img class="b-r-10" src="<%= user.image %>" style="width: 35px; height: 35px" alt="<%= user.name %>" />
            <% } else { %>
            <img class="b-r-10" src="https://gudrtdnruivalvgpfens.supabase.co/storage/v1/object/public/taufiqproject/user/<%= user.image %>" style="width: 35px; height: 35px" alt="<%= user.image %>" />
            <% } %>
            <div class="media-body">
              <span><%= user.name %></span>
              <p class="mb-0 font-roboto"><%= user.role %> <i class="middle fa fa-angle-down"></i></p>
            </div>
          </div>
          <ul class="profile-dropdown onhover-show-div">
            <li>
              <a href="/user-profile"><i data-feather="user"></i><span>Account </span></a>
            </li>
            <li>
              <a href="/chat"><i data-feather="mail"></i><span>Inbox</span></a>
            </li>
            <li>
              <a href="/edit-profile"><i data-feather="settings"></i><span>Settings</span></a>
            </li>
            <li>
              <a href="/auth/logout"><i data-feather="log-in"> </i><span>Log Out</span></a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <script class="result-template" type="text/x-handlebars-template">
      <div class='ProfileCard u-cf'>
        <div class='ProfileCard-avatar'><svg
            xmlns='http://www.w3.org/2000/svg'
            width='24'
            height='24'
            viewBox='0 0 24 24'
            fill='none'
            stroke='currentColor'
            stroke-widths='2'
            stroke-linecap='round'
            stroke-linejoin='round'
            class='feather feather-airplay m-0'
          ><path d='M5 17H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1'></path><polygon points='12 15 17 21 7 21 12 15'></polygon></svg></div>
        <div class='ProfileCard-details'>
          <div class='ProfileCard-realName'>{{name}}</div>
        </div>
      </div>
    </script>
    <script class="empty-template" type="text/x-handlebars-template">
      <div class='EmptyMessage'>Your search turned up 0 results. This most likely means the backend is down, yikes!</div>
    </script>
  </div>
</div>
<!-- Page Header Ends                              -->
